<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Page Not Found</title>
    <style>
        body {
            background-color: #000;
            color: #fff;
            font-family: 'Verdana', monospace;
            text-align: center;
            padding: 2rem;
        }
        h1 {
            font-size: 3rem;
            margin-bottom: 1rem;
        }
        p {
            font-size: 1.5rem
        }
        img {
            transform: scale(0.7);
            margin: auto;
            margin-top: -9%;
            margin-bottom: -9%;
        }
        span a{
            color: #f0f;
        }
    </style>
</head>
<!-- 404 Error Section -->
<body>
    <h1>404 Not Found</h1>
    <p>Oops! Looks like you've ventured into the digital abyss.</p>
    <img src="./img/404.png" alt="404 image">
    <p>You can <span><a href="/">return to the homepage</a></span> and continue your journey.</p>    
</body>

</html>
