<%- include('partials/header') %>

<div class="jumbotron centered custom-jumbotron">
  <div class="container text-center">
    <i class="far fa-newspaper fa-4x p-2"></i>
    <h1 class="display-3 p-2" style="display: inline">
      Welcome to The Tech Blog
    </h1>
    <i class="far fa-newspaper fa-4x p-2"></i>

    <p class="lead">Share your Posts here on the Tech Blog!</p>
    <hr />
    <a class="btn btn-light btn-lg m-4" href="/register" role="button"
      >Register</a
    >
    <a class="btn btn-dark btn-lg m-4" href="/login" role="button">Login</a>
    <a class="btn btn-light btn-lg m-4" href="/posts" role="button"
      >See Posts</a
    >
  </div>
</div>

<%- include('partials/footer') %>
