body {
  font-family: 'Verdana', sans-serif;
}

.opaque-background {
  background-image: url('../img/Designer3.png');
  background-size: contain;
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.opaque-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
}

.background-dash {
  background-image: url('../img/Designer1.png');
  background-size: contain;
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.background-dash::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
}

.background-user {
  background-image: url('../img/Designer2.png');
  background-size: contain;
  position: relative;
  width: 100%;
  height: 100vh;
}
.background-user::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
}

.yellow {
  color: #0f0;
  text-shadow: -1px 1px 2px black;
}

.pink {
  color: #f0f;
  text-shadow: -1px 1px 3px black;
}

.welcome {
  margin-top: -7px;
}

.clear {
  backdrop-filter: blur(0px);
}

.custom-jumbotron {
  width: 80%;
  margin: auto;
  margin-top: 3vh;
  height: 360px;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.jumbotron a.btn {
  margin-top: 30px;
}

.dash-div,
.profile {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
}

.home-posts {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

ul {
  width: inherit;
}

li {
  list-style: none;
}

.home-posts li {
  position: relative;
  color: white;
}

.showModal {
  position: relative;
  left: 75vw;
  top: -2vh;
}

.home-date {
  font-size: 1.2rem;
  text-align: right;
  margin-top: -3.5vh;
}

.login,
.register {
  margin-bottom: 20px;
}

.inline {
  display: inline;
}

.post-title {
  padding-top: 9px;
}

.logout-btn {
  position: absolute;
  right: 0;
  top: 0;
}

.home {
  position: absolute;
  left: 0;
  top: 0;
}

.dash-post-list:hover {
  cursor: pointer;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  transition: ease-in-out;
}

.home-post-li:hover,
.home-post-li:focus {
  cursor: pointer;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  transition: ease-in-out;
}

.comment-btn {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* .user-delete {  
  margin-left: 77%!important;
} */

.profile {
  width: 50vw;
  padding-bottom: 1vh;
}

.comment-modal {
  padding-top: 250px;
}

.comment-div p {
  display: none;
  color: antiquewhite;
}

.d-none {
  display: none;
}

.alert-container {
  z-index: 1051;
}

.footer {
  color: black;
  height: 60px;
  margin-top: -60px;
}

/* Media Queries */
@media screen and (max-width: 1333px) {
  .custom-jumbotron {
    height: auto;
  }
  .jumbotron i {
    display: block;
  }
  .comment-content,
  .comment-author {
    padding-bottom: 3.5% !important;
  }
}

@media screen and (max-width: 600px) {
  .home-date {
    margin-top: 0;
    text-align: center;
  }

  .custom-jumbotron {
    transform: scale(0.88);
  }

  .showModal {
    left: 66%;
  }

}
