body {
  font-family: 'Verdana', sans-serif;
  backdrop-filter: blur(3px);
}

.opaque-background {
  background-image: url('../img/Designer3.png');
  background-size: contain;
  position: relative;
  width: 100%;
  height: 100vh;
}

.background-dash {
  background-image: url('../img/Designer1.png');
  background-size: contain;
  position: relative;
  width: 100%;
  height: 100vh;
}

.background-dash::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
}

.opaque-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
}

.custom-jumbotron {
  width: 80%;
  margin: auto;
  margin-top: 3vh;
  height: 360px;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.clear {
  backdrop-filter: blur(0px);
}

.dash-div {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
}
.home-posts {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.home-posts ul {
  color: white;
}
.showModal {
  position: relative;
  left: 75vw;
  top: -2vh;
}

.home-date {
  color: #f0f;
  font-size: 1.2rem;
  text-align: right;
  margin-top: -3.5vh;
}

.jumbotron h1,
.jumbotron p,
i,
h1 {
  color: #0f0;
  margin: 0;
}
.login,
.register {
  color: #0f0;
  margin-bottom: 20px;
}
.inline {
  display: inline;
}
.jumbotron a.btn {
  margin-top: 30px;
}

.post-title {
  text-shadow: #0f0 2px 2px 2px;
  padding-top: 5px;
}

li {
  list-style: circle;
}

li .delete-btn {
  position: relative;
  left: 33vw;
}

.logout-btn {
  position: absolute;
  right: 0;
  top: 0;
}
.home {
  position: absolute;
  left: 0;
  top: 0;
}